@model MosadMVC.Models.GeneralView

@{
    ViewData["Title"] = "GeneralView";
}

<h1>GeneralView</h1>
<head>
    <meta http-equiv="refresh" content="2">
</head>
<div>
    <h4>GeneralView</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SumAgent)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SumAgent)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SumAgentActiv)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SumAgentActiv)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SumTarget)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SumTarget)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SumTargetActiv)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SumTargetActiv)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SumMissions)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SumMissions)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SumMissionsActiv)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SumMissionsActiv)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.agentsToTarget)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.agentsToTarget)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.agentsToTargetRelevant)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.agentsToTargetRelevant)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
