@model MosadMVC.Models.Missoion

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Missoion</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AgentId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AgentId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TargetId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TargetId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.timeToDo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.timeToDo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Executiontime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Executiontime)
        </dd>
    </dl>
</div>
<div>

    <a asp-action="Index">Back to List</a>
</div>
